* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
button {
    padding: 4px 9px;
    margin: 6px 0;
}

#root {
    text-align: center;
}
#info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.image-wrapper {
    max-width: 650px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-wrapper > img {
    width: 650px;
}

.selectMenu {
    position: absolute;
    top: 40px;
    left: 60px;
    text-align: left;
}
.selectMenu > form > div {
    display: block;
    margin: 8px 0;
}